# Path to AmneziaWG configuration file (mounted read-only)
CONF=./conf.conf
# Local port where SOCKS5 will be exposed (127.0.0.1 only)
SOCKS_PORT=2081
# User auth
PROXY_USER_1=alice:pass123
PROXY_USER_2=bob:pass456